$color-background: #EDF2EC;
$color-light: #ffffff;
$color-primary: #499A18;
$color-additional: #E06733;
$color-title: #717171;
$color-text: #636060;
$color-prices:  #EDF2EC;
$color-prices-border: #E3E1D5;
$color-city-button:  #D6E7D2;
$color-header-link: #010201;
$color-black: #000000;
$color-accordion-button-active: #C1E698;
$color-accordion-after: #D9D9D9;
$color-arrow-down: #AEA1A1;
$color-arrow-up: #D9D9D9;

$content-width: 1440px;
$content-min-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
