.accordion__button {
  box-sizing: border-box;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  height: 50px;
  background-color: $color-city-button;
  padding: 5px 22px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-left: 50px;
  //cursor: url('../assets/icons/iconCursor.svg'), auto;
  @extend %transition;
  @include media-laptop-small {
    max-width: 400px;
    margin-left: 0px;
  }
  @include media-tablet {
    left: 0;
  }
}
.accordion__button:hover {
  box-shadow: non;
  background-color: $color-accordion-button-active;
}
.click__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 5px 22px;
  box-sizing: border-box;
  background-color: $color-accordion-button-active;
  box-shadow: none;

  margin-left: 50px;
  //cursor: url('../assets/icons/iconCursor.svg'), auto;
  @include media-laptop-small {
    max-width: 400px;
    margin-left: 0px;
  }
  @include media-tablet {
    margin-top: 0px;
    left: 0;
  }
  @include media-mobile {
    margin-top: 0px;
    left: 0;
  }
  & ~ .city__list {
    display: inline-block;
    z-index: 2;
    position: relative;
  }
}

.accordion__title {
  @extend %font-primary;
  @include font($size: 2rem, $height: 4rem, $weight: 400, $style: normal);
  letter-spacing: 0.05em;
  color: $color-title;

  @include media-laptop-small {
    max-width: 400px;
    left: 0;
  }
  @include media-tablet {
    left: 0;
  }
  @include media-mobile-small {
    @include font($size: 1.5rem, $height: 1.5rem, $weight: 400, $style: normal);
  }
}
.city__list {
  @extend %transition;
  display: none;
  max-width: 450px;
  width: 100%;
  height: 270px;
  padding: 27px 41px 31px;
  background-color: $color-city-button;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  // margin-top: 50px;
  margin-left: 50px;
  @include media-laptop-small {
    max-width: 400px;
    margin-left: 0;
  }
  @include media-tablet {
    height: 250px;
    left: 0;
    padding: 25px 41px 31px;
  }
  @include media-mobile {
    margin-left: 0;
  }
}
.city__list>li {
  @extend %transition;
  padding-bottom: 15px;
  color: $color-primary;
  cursor: url('../assets/icons/iconCursor.svg'), auto;
  @include font($size: 2rem, $height: 4rem, $weight: 400, $style: normal);
  @include media-mobile-small {
    @include font($size: 1.5rem, $height: 2rem, $weight: 400, $style: normal);
  }
}
.city__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $color-accordion-after;
}
.city__item:hover {
  color: $color-title;
  &::after {
    background-color: $color-title;
  }
}
.drop__button {
  @extend %transition;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: url(../assets/icons/1accordion_btn.svg);
  cursor: url('../assets/icons/iconCursor.svg'), auto;
}
.drop__button._active {
  @extend %transition;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: url(../assets/icons/2accordion_btn.jpg);
  cursor: url('../assets/icons/iconCursor.svg'), auto;
}
