.contacts {
  background-color: $color-background;
  position: relative;
}
.contacts__wrapper {
  padding: 53px 109px 0px;
  position: relative;
  @include media-laptop-small {
    padding: 35px 40px 0px;
  }
  @include media-tablet {
    padding: 35px 20px 0px 60px;
  }
  @include media-mobile {
    padding: 0px 40px 0px;
  }
}
.contacts__images {
  display: flex;
  width: 100%;
  @include media-tablet {
    justify-content: center;
  }
}
.contacts__image {
  width: 400px;
  height: 500px;
  grid-area: image;
  @include media-tablet {
    width: 200px;
    height: 249px;
  }
  @include media-mobile {
    width: 100px;
    height: 124px;
  }
}
.contacts__images._active {
  opacity: 0;
}
.contacts__title {
  width: 370px;
  @extend %font-add;
  @include font($size: 4rem, $height: 5.2rem, $weight: 700, $style: normal);
  margin-top: 8px;
  text-align: center;
  @include media-laptop-small {
    width: 100%;
    text-align: left;
  }
  @include media-tablet {
    margin-bottom: 100px;
    text-align: center;
  }
  @include media-mobile {
    @include font($size: 2.5rem, $height: 3.2rem, $weight: 700, $style: normal);
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.contact-us__content {
  width: 100%;
  display: flex;
  grid-area: title;
  padding-left: 90px;
  position: relative;
  left: 0;
  @include media-laptop-small {
    flex-direction: column;
    align-content: flex-start;
    padding-left: 0px;
  }
  @include media-tablet {
    flex-wrap: nowrap;

    max-width: 400px;
    width: 100%;

  }
  @include media-mobile {
    max-width: 400px;
    width: 100%;
  }
}
.contacts__container {

  width: 100%;
  margin-top: 98px;
  position: relative;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  @include media-mobile {
    position: absolute;
    top:140px;
    left: 0;
  } width: 100%;
}
.contacts__container._active {
  width: 100%;
  margin-top: 98px;
  position: relative;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px;

  }
  @include media-mobile {
    position: absolute;
    top: 140px;
    left: 0;
  }

}
.select__button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: url(../assets/icons/3accordion_btn.svg);
  cursor: url('../assets/icons/iconCursor.svg'), auto;
}
.select__button._active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: url(../assets/icons/3drop_btn.svg);
  cursor: url('../assets/icons/iconCursor.svg'), auto;
}
