.logo {
  display: inline-flex;
  text-decoration: none;
}
.logo-text {
  @include font($size:1.6rem, $height: 2.1rem, $weight: 400, $style: normal);
  @extend %font-add;
  color: $color-black;
  padding-left: 1px;
}
