.button {
  box-sizing: border-box;
  @extend %font-primary;
  font-style: normal;
  @include font($size: 1.6rem, $height: 2rem, $weight: 400, $style: normal);
  height: 50px;
  padding: 14px 27px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid $color-additional;
  border-radius: 10px;
  cursor: pointer;
  @extend %transition;
  @include media-mobile {
    @include font($size: 1rem, $height: 2rem);
    padding: 8.3px 18px;
    height: 34px;
  }
   &:hover {
    background-color: $color-additional;
    color: $color-light;
    cursor: url('../assets/icons/iconCursor.svg'), auto;
   }
}
.service__button {
  @include font($size: 2rem, $height: 2.6rem, $weight: 400, $style: normal);
  @extend %font-add;
  border-radius: 5px;
  cursor: url('../assets/icons/iconCursor.svg'), auto;
}
.service__button_colored {
  @include font($size: 2rem, $height: 2.6rem, $weight: 400, $style: normal);
  @extend %font-add;
  border-radius: 5px;
  cursor: url('../assets/icons/iconCursor.svg'), auto;
  background-color: $color-additional;
  color: $color-light;
  &:nth-child(2) {
    padding: 12px 54px;
    @include media-mobile {
      padding: 8px 40px 7px;
      @include font($size: 1.5rem, $height: 2rem, $weight: 400);
    }
  }
  &:nth-child(1) {
    padding: 12px 40px;
    @include media-mobile {
      padding: 8px 30px 7px;
      @include font($size: 1.5rem, $height: 2rem, $weight: 400);
    }
  }
  &:nth-child(3) {
    padding: 12px 40px;
    @include media-mobile {
      padding: 8px 30px 7px;
      @include font($size: 1.5rem, $height: 2rem, $weight: 400);
    }
  }
  @include media-mobile {
    padding: 8px 21px;
    @include font($size: 1.5rem, $height: 2rem, $weight: 400);
  }
}
.order__button {
  width: 88px;
  height: 25px;
  background-color: $color-light;
  border: 1px solid $color-light;
  color: $color-title;
}
.prices__button {
  width: 162px;
  height: 50px;
  white-space: nowrap;
  border-radius: 5px;
  color: $color-additional;
  @extend %font-add;
  @include font($size: 2rem, $height: 2.6rem, $weight: 700, $style: normal);
  @include media-mobile {
    width: 121px;
    height: 34px;
    @include font($size: 1.5rem, $height: 2rem, $weight: 700, $style: normal);
    padding: 8px 22px;
    margin-top: 19px;
  }
  &:hover {
    background-color: $color-additional;
    color: $color-light;
    cursor: url('../assets/icons/iconCursor.svg'), auto;
  }
  @include media-tablet {
    margin-bottom: 34px;
  }
  @include media-mobile {
    margin-bottom: 0;
  }
}



.city-card__button {
  @include font($size: 1rem, $height: 1.3rem, $weight: 700, $style: normal);
  @extend %font-add;
  padding: 7px 29px;
  width: 122px;
  height: 26px;
  align-items: center;
  justify-content: center;
}
